// LOADER
$background-loader: #F0F0F0;

// ALL
$front: #F0F0F0;
$mainBack: #DDD0C8;
$mainFront: #323232;
$mainHigh: #7b6fec;

// OPTIONS
$valid: #13CE0D;
// MAIN CONTENT
$light: #DDD0C8;
$light-secondary: #9c938e;
$black: #323232;
$black-secondary: #2c2c2c;