@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&family=Inter:wght@200;300;400;600&family=Poppins:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

$loader: "Cormorant";
$navbar-stack: "Inter";
$stack: "Poppins";
$artistique: "Oswald";